.section {
  display: flex;
  padding: 4rem 0;
  align-items: center;
  vertical-align: center;
  position: relative;
  font-size: 1rem;
}

.section.darker {
  background: #f9f9f9;
}

.section h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0 0 2rem;
}

.section p {
  font-size: 1.2rem;
}

.paddingTopLg {
  padding-top: 2rem;
  font-size: 16px !important; /* Adjust the font size as needed */
  text-align: justify !important; /* Justifies the text */ /* Adjust the indent size as needed */
}

@media (max-width: 996px) {
  .paddingTopLg {
    padding-top: 0;
  }
}

.section code {
  font-size: 0.83rem;
}

.wantMore {
  border-top: 1px dashed #d4d5d8;
  margin-top: 1rem;
  padding: 2rem 0 1rem 0;
}

.videoWrapper {
  width: 29rem;
  height: 25rem;
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ccc; /* Light gray line */
  margin: 40px 0; /* Adjust spacing */
}